<app-layout></app-layout>
<div class="main">
  <body>
    <div class="background">
      <div class="overlay">
        <h1>Welcome to your English Improver Chatbot</h1>
        <p>Choose a phase to enhance your English skills:</p>
        <div class="options">
          <a routerLink="/chatinterface"  routerLinkActive="active" class="option">Improve General English for Daily Life</a>
         <a routerLink="/accent-improver" routerLinkActive="active" class="option">Multicultural English Improvement</a>
         <a routerLink="/publicspeaking" routerLinkActive="active" class="option">Professional Public English Communication</a>
        </div>
      </div>
    </div>
  </body>
</div>
